<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Burgers!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body style="margin:0 2%;">
	{{{ body }}}
</body>

<script>
	$(document).ready(function () {

		$('#submit').on('click', function () {
			event.preventDefault();
			var burgerName = $('#newBurger').val();
			console.log(burgerName);
			var newLine = {
				burger_name: burgerName,
				devoured: 0
			}
			$.ajax("/api/burgers", {
				type: "POST",
				data: newLine
			}).then(
				function () {
					console.log("Burger added");
				}
			);
			$('#newBurger').val('');
			location.reload();
		});



		$('.delete-burger').on('click', function () {
			event.preventDefault();
			var id = $(this).data("id");
			$.ajax("/api/burgers/" + id, {
				type: "DELETE"
			}).then(
				function () {
					console.log("deleted burger", id);
				}
			);
			location.reload();
		});

		$('.change-devoured').on('click', function () {
			event.preventDefault();

			var id = $(this).data("id");
			var devoured = $(this).data("devoured");

			var newDevoured = Math.abs(devoured - 1)

			var devourChange = {
				id: id,
				devoured: newDevoured
			};

			$.ajax("/api/burgers/" + id, {
				type: "PUT",
				data: devourChange
			}).then(
				function () {
					console.log("updated burger");
				}
			);
			location.reload();
		});



	});

</script>

</html>